<h1>Assuntos</h1>

<!-- Filter Input -->
<div>
    <mat-form-field style="width: 85%;">
        <mat-label>Filtrar</mat-label>
        <input matInput (keyup)="applyFilter($event.target)" placeholder="Filtrar Assuntos">
        <button title="Adicionar assunto" mat-stroked-button matSuffix (click)="IrParaAdicionarEditarAssunto()">
          <mat-icon>add</mat-icon>
        </button>       
    </mat-form-field> 
</div>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <!-- Título Column -->
        <ng-container matColumnDef="descricao">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</th>
            <td mat-cell *matCellDef="let element">{{ element.descricao }}</td>
        </ng-container>

        <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let element">
              <button title="Editar assunto" mat-stroked-button (click)="IrParaAdicionarEditarAssunto(element.id)">
                <mat-icon>edit_note</mat-icon>
              </button>
              <button title="Apagar assunto" mat-stroked-button (click)="ApagarAssunto(element.id)">
                <mat-icon>delete_outline</mat-icon>
              </button>
            </td>
          </ng-container>
        <!-- Header and Row Definitions -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
