.mat-elevation-z8 {
    box-shadow: 0 4px 6px white;
  }
  
table{
    width: 85%;
}

.container {
  max-width: 83%;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

.button-group {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}