.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #3f51b5;
}

.login-card {
  background-color: white;
  color: #3f51b5;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-field {
  width: 100%;
  margin-bottom: 20px;
}

button {
  width: 100%;
}
